<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="All Test Suite">
    
    <listeners>
        <listener class-name="TestComponent.Listeners"/>
    </listeners>
    <test name="Error Validation Tests" verbose="2" preserve-order="true" >
        <classes>
            <class name="org.example.ErrorValidation"/>

        </classes>
    </test>
    <test name="Submit Order Test">
        <classes>
            <class name="org.example.SubmitOrderTestCopy">
            </class>
        </classes>
    </test>
</suite>